alembic

anyio

art

Artisan

asttokens

attrs

autopep

Babel

backcall

bcrypt

beautifulsoup

black

bleach

blinker

cachelib

certifi

cffi

chardet

charset-normalizer

click

colorama

comm

debugpy

decorator

defusedxml

distlib

dnspython

email-validator

entrypoints

executing

fastjsonschema

filelock

Flask

Flask-Babel

Flask-Babel-JS

Flask-Bcrypt

flask-blueprint

Flask-Login

Flask-Mail

Flask-Migrate

Flask-MySQL

flask-mysql-connector

Flask-MySQLdb

Flask-PyMongo

Flask-Reuploaded

Flask-Script

Flask-Session

Flask-SQLAlchemy

Flask-Uploads

Flask-WTF

greenlet

gunicorn

idna

ipdb

ipykernel

ipython

ipython-genutils

itsdangerous

jedi

Jinja

joblib

json

jsonschema

jupyter-server

jupyter_client

jupyter_core

jupyterlab

jupyterlab-pygments

jupyterlab_server

libretranslatepy

lxml

Mako

MarkupSafe

matplotlib-inline

mistune

mypy-extensions

mysql-connector

mysql-connector-python

mysqlclient

nbclassic

nbclient

nbconvert

nbformat

nest-asyncio

notebook

notebook_shim

numpy

packaging

pandas

pandocfilters

parso

passlib

pathspec

pickleshare

pillow

platformdirs

prometheus-client

prompt-toolkit

protobuf

psutil

pure-eval

pycodestyle

pycparser

Pygments

PyJWT

pymongo

PyMySQL

pyparsing

pyrsistent

python-dateutil

pytz

pywin

pywinpty

pyzmq

reportlab

requests

scikit-learn

scipy

SendTrash

sentry-sdk

six

sniffio

soupsievepost

SQLAlchemypost

stack-data

terminado

threadpoolctl

tinycss

tomli

tornado

traitlets

translate

typing_extensions

urllib

virtualenv

wcwidth

webencodings

websocket-client

Werkzeug

WTForms

wtforms-html

